.main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: #99A98F;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}
.main:hover{
    background-color: #C1D0B5;

}
.head{
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 10%;
}
.head h4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
.boll{
    flex-basis: 17%;
    text-align: center;
    background-color: #D6E8DB;
    border-radius: 100%;
    padding: 12px 0px;
}
.dkr{
    text-align: center;
    flex-basis: 90%;
}